<h2>Login</h2>
<form action="/login" method="POST">
	<input type="email" name="email" placeholder="email:"id ="email" placeholder="Email" required ><br><br>
	<input type="password" name="password" id ="password" placeholder="Password" required><br><br>
	<input type="submit" value="Log In">
</form>
