<h2>Sign Up</h2>
<form action="/users" method="POST">
  <p>Name: <input type="text" name="name" autofocus></p>
  <p>Email: <input type="email" name="email" placeholder="Email"required></p>
  <p>Age:<input type="number" name="age" placeholder="Age" required></p>
  <p>Password: <input type="password" name="password" placeholder="Password" required></p>
  <input  type="submit" value = "Sign up">
</form>