

<h2>Welcome to childrens library</h2>
<br>
<%@books.each_with_index do |book, i|%>
<a href = "/books/<%=book.id%>"> 
<h3><%=i+1%>. <%= book.title%></h3><br> 
<%end%> 

<a href = "/books/new" ><button type="button">Create a new book</button></a>