<h1>This is the Model's index page.</h1>
<br>
<%@books.each_with_index do |book, i|%>
<a href = "/books/<%=book.id%>"> 
<h3><%=i+1%>. <%= book.title%></h3><br> 
<%end%> 

<a href = "/books/new">create a new book </a>